
body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1.5em;
	font-family: 'Work Sans', sans-serif;
	color: aliceblue;
}

header {
	text-align: center;
}

.bio {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #765BE8;
}

.work {
	position: fixed;
	background: #709DFF;
}

.contact {
	background: #E38FFF;
}

.showcase {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.name {
	margin-top: 120px;
}

.headshot {
	border-radius: 50%;
}

.main-nav ul, .contact-links ul, .project-links ul {
	margin: 25px;
	list-style: none;
	display: flex;
	justify-content: center;
}

.main-nav ul li a, .contact-links ul li a, .project-links ul li a {
	margin: 0 16px;
	text-decoration: none;
}

#about {
	width: 65%;
	margin: 15px auto;
}

.work {
	width: 50%;
	margin: 0 auto;
}

h2, h3 {
	text-align: center;
}

.project {
	width: 100%;
}

.images {
	margin: 0 126px;
}

.primary-projects, .ancillary-projects {
	display: flex;
	justify-content: space-around;
}

.project-stack {
	list-style: none;
	text-align: center;
}

.project-description {
	width: 100%;
	text-align: center;
}