body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 2.5em;
	font-family: 'Work Sans', sans-serif;
	color: aliceblue;
}

header {
	text-align: center;
}

.bio {
	position: fixed;
	height: 90%;
	width: 100%;
	background: #765BE8;
}

.work {
	position: relative;
	margin-left: 9%;
	margin-bottom:  5%;
	background: #709DFF;
}

.bar-right {	
	position: absolute;
	right: 0%;
	height: 100%;
	background: #709DFF;	
	cursor: pointer;
}
.bar-right p {
	padding: 15px;
	position: relative;
	top: 40%;
}

.bar-right:hover {
	color: #E38FFF;
}

.bar-left {		
	position: fixed;
	width: 100%;
	right: 91%;
	bottom: 0;
	min-height: 100%;
	background: #765BE8;	
	cursor: pointer;
}
.bar-left p {
	padding: 15px;
	position: fixed;
	left: 0;
	top: 40%;
}

.bar-left:hover {
	color: #E38FFF;
}

footer {
	position: fixed;
	right: 0;
	bottom: 0;
	height: 10%;
	width: 100%;
	background: #E38FFF;
}

.showcase {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.name {
	margin-top: 120px;
}

.headshot {
	border-radius: 50%;
}
.hidden {
	display: none;
}
.main-nav ul, .contact-links ul, .project-links ul {
	margin: 25px;
	list-style: none;
	display: flex;
	justify-content: center;
}

.main-nav ul li a, .contact-links ul li a {
	margin: 0 16px;
	text-decoration: none;	
	color: #000;
}

.project-links ul li a {
	margin: 0 16px;
	text-decoration: none;	
	color: #765BE8;
}

.main-nav ul li a:hover, .project-links ul li a:hover {	
	color: #E38FFF;
}

.contact-link a:hover {
	color: #709DFF;	
}



.nav {
	position: absolute;
	left: 75%;
	top: 40%;
	font-size: 2em;	
	text-decoration: none; 
}

.top-nav {
	display: flex;
	justify-content: center;
	margin: 0 25px;
}
.nav-left, .nav-right {
	font-size: 5em;	
	text-decoration: none; 
}

.two {
	display: flex;
	align-content: center;
}
#about {
	width: 65%;
	margin: 15px auto;
}


h2, h3 {
	text-align: center;
}

.project {
	width: 100%;
}
.images {
	text-align: center;
}
.img-placeholder {	
	width: 320px;
	height: 180px;
}

.primary-projects, .ancillary-projects {
	height: inherit;
	display: flex;
	justify-content: space-around;
}

.project-stack {
	list-style: none;
	text-align: center;
	color: #000;
}


.project-description {
	padding: 40px;
	text-align: center;
}