body {
    margin: 0;
    padding: 0;
    background: #bbb;
    font-size: 2em;
    font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;
}

.wrapper {
    margin-top: 120px;
    scroll-behavior: smooth;
}

ul {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-20%, -10%);
}

ul li {
    list-style: none;
}

ul li a {
    padding: 10px;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    text-shadow: 6px 6px 10px rgba(0, 0, 0, .5);
    box-shadow: 10px 10px 20px #111;
    border: 6px solid #555;
    transition: .3s;
}

.navbar-item1 a {
    position: absolute;
    top: 0px;
    left: -400px;
    transform: translate(-50%, -30%);
    background: #777;
}

.navbar-item2 a {
    position: absolute;
    top: 0px;
    left: -230px;
    transform: translate(-50%, -30%);
    background: #777;
}

.navbar-item3 a {
    position: absolute;
    top: 0;
    left: 10px;
    transform: translate(-50%, -30%);
    background: #777;
}

.navbar-item4 a {
    position: absolute;
    top: 0px;
    left: 270px;
    transform: translate(-50%, -30%);
    background: #777;
}

ul li a:hover {
    font-size: 1.3em;
    text-shadow: 0px 0px 1px #222;
    font-weight: bold;
    transition: .3s;
}

.hidden {
    display: none;
}

.fixed {
    position: sticky;
    width: 120vw;
    z-index: 10;
    top: -10px;
    transform: translate(-6%, 0%);
    box-shadow: 0 4px 4px -2px #232323;
    height: 12vh;
    background: gray;
    background: linear-gradient(#222, #555); 
    transition: .5s;
}

.fixed ul {
    display: block;
}

.fixed ul li {
    text-align: center;
    margin: 0 auto;
    list-style: none;
    display: inline;
}

.fixed ul li a {
    top: -80px;
    margin: 0 15px;
}

.bio {
    height: 100vh;
    background: url('../imgs/bio1.jpeg');
    background-size: 100%;
    text-align: center;
    box-shadow: 0 0 35px #222;
    margin-left: 60px;
    margin-right: 60px;
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 1);
}

.bio-text {
    position: relative; 
    top: 30vh;
    margin: -60px auto;
}

.bio-summary {
    position: relative;
    top: 40vh;
    margin: 30px auto;
    width: 30vw;
}

.skills {
    height: 100vh;
    color: white;
    background: url('../imgs/skills.png') no-repeat center center fixed;
    background-size: 100%;
    box-shadow: 0 0 35px #222;
    margin: 0 60px;
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 1);
}

.skills h1 {
    text-align: center;
    margin: 0;
    padding: 100px;
}

.skills p {
    line-height: 1.5;
    margin-left: 180px;
}

strong {
    color: #999;
}

.portfolio {
    height: 100%;
    color: white;
    box-shadow: 0 0 35px #222;
    margin: 0 60px;
}

.project {
    display: flex;
}

.video {
    line-height: 0;
}

.summary {
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 1);
}

.summary h1 {
    text-align: center;
}

.summary p {
    margin: 20px;
}

.bg1 {
    background: #333;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 1);
}

.bg2 {
    background: #444;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 1);
}

.bg3 {
    background: #666;  
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 1);
}

.demo {
    margin: 50px;
    text-align: center;
}

.summary a {
    color: white;
    padding: 10px;
    text-decoration: none;
    border: 6px solid #555;
    background: #777;
    text-shadow: 6px 6px 10px rgba(0, 0, 0, .5);
    border-radius: 25px;
    box-shadow: 10px 10px 20px #111;
    transition: .3s;
}

.summary a:hover {
    font-size: 1.3em;
    text-shadow: 0px 0px 1px #222;
    font-weight: bold;
    transition: .3s;
}

.contact {
    height: 100vh;
    margin: 60px;
    margin-top: 0px;
    display: flex;
    color: #ddd;
    box-shadow: 0 0 35px #222;
    background: linear-gradient(27deg, #151515 5px, transparent 5px) 0px 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 15px 15px;
}

.contact-left {
    flex: 1;
}

.contact-right {
    flex: 1;
}

.contact p {
    margin: 0;
    padding: 0;
}

.links {
    margin: 40px;
    margin-top: 80px;
    padding: 35px;
    font-size: 2em;
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 1);
}

.links a {
    text-decoration: none;
    color: white;
}

.links a:hover {
    color: orange;
}

.active a {
    background: black;
    font-size: 1.3em;
    text-shadow: 0px 0px 1px #222;
    font-weight: bold;
    transition: .3s;
}
