body {
  margin: 0;
  padding: 0;
  border: 0;
  color: #eee;
  font-family: 'Work Sans', sans-serif;
}

.bio-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* height: 100vh; */
  background: linear-gradient(
    to right,
    rgba(126, 123, 255, .9),
    rgba(154, 100, 233, 1)
  );
}

.bio-image {
  height: 200px;
  width: 200px;
  margin-top: 15vh;
  border-radius: 50%;
}

.bio-text {
  width: 300px;
  /* border: 1px solid black; */
  font-size: 2.5em;
  text-align: center;
  /* -webkit-text-stroke: .2px black; */
}

.work-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 5px solid olive; */
  background-color: #b74e91;
  /* font-size: 2em; */
  /* justify-content: flex-start; */
  /* height: 100vh; */
}

.work-image {
  /* margin: 15px; */
  max-width: 100%;
  max-height: 100%;
  margin: 0 10px;
}

/* .work-image {
  height: 300px;
  width: 500px;
} */

.work-description {
  font-size: 2em;
  margin: 15px;
}

.work-button {
  height: 10vh;
  width: 30vh;
  margin-bottom: 15px;
  font-size: 2em;
  border-radius: 25px;
  background: #7289da;
}

.contact-wrapper {
  background: #5e42a6;
  display: flex;
}

.contact-list {
  list-style: none;
}

.contact-item {
  flex-grow: 1;
  font-size: 2em;
}

a {
  text-decoration: none;
  color: #eee;
}

a:hover {
  color: black;
}
/* @media desktop
.bio-wrapper {
  /* height: 100vh; */
/* .bio-text {
  width: 400px; */

/* .work-wrapper {
  border: 5px solid olive;
  display: grid;
  grid-template-columns: 30% 70%;
}

.work-title {
  border: 1px solid black;
}

.work-description {
  background: #eee;
} */
